html.dark {
    --text-color: #FFFFFF;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(158deg) brightness(101%) contrast(103%);

    --body-bg: #292E39;
    --header-bg-color: #171C28;
    --top-act-group-bg-color: #292E39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.20);
    --top-act-group-separate: #EDEDF6;
    
    // Dropdown
    --dropdown-bg-color: #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.40);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(19%) sepia(17%) saturate(603%) hue-rotate(185deg) brightness(96%) contrast(95%);
    --top-menu-border-color: #171C28;

}
