html {
    --text-color: #1A162E;
    --icon-color: brightness(0) saturate(100%) invert(7%) sepia(18%) saturate(2901%) hue-rotate(216deg) brightness(94%) contrast(95%);

    --header-bg-color: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;
}