.account-info {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px;
    border-radius: 10px;
    background: var(--Background-2, #f6f6f6);

    &__icon {
        width: 54px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 8px;
        background: #fff;
    }
    
    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__desc {
        margin-top: 6px;
        font-size: 1.4rem;
        line-height: 142.857%;
    }
}
