// Filter button
.filter-btn {
    display: flex;
    align-items: center;
    column-gap: 14px;
    padding: 0 14px;

    height: 36px;
    border-radius: 6px;

    background: var(--filter-btn-bg);
    color: var(--filter-btn-color);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 142.857%;
}

// Like button
.like-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    box-shadow: 0 20px 60px rgba(124, 124, 124, 0.2);

    &:not(&--liked) &__icon--liked {
        display: none;
    }

    &--liked &__icon {
        display: none;
    }

    &__icon--liked {
        margin-top: 6px;
    }
}

// Buttons
.btn {
    display: flex;
    align-items: center;

    height: 44px;
    border-radius: 6px;
    padding: 0 20px;

    background: #F8F8FB;

    font-size: 1.8rem;
    font-weight: 500;
    user-select: none;

    .btn + .btn {
        margin-left: 20px;
    }

    &--text {
        color: #9E9DA8;
        font-weight: 400;
        background: transparent;
    }

    &--primary {
        color: #1A162E;
        background: #FFB700;
    }

    &--outline {
        background: transparent;
        border: 1px solid #D2D1D6;
    }

    &--rounded {
        border-radius: 99px;
    }

    &[disabled],
    &--disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &:hover {
        opacity: 0.9;
    }
}