.favourite-item {
    display: flex;
    align-items: start;
    gap: 20px;

    &__thumb {
        width: 110px;
        object-fit: contain;
    }
    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }
    &__content {
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__price {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 146.667%;
    }
}

.favourite-item + .favourite-item {
    margin-top: 40px;
}
